{% ckan_extends %}

{% block contact_form_fields %}
    {{ form.input('name', label=_('Contact Name'), id='field-name', value=data.name,
                  error=errors.name, classes=['control-medium'], is_required=true) }}

    {{ form.input('email', label=_('Email'), id='field-email', type='email',
                  value=data.email, error=errors.email, classes=['control-medium'],
                  is_required=true) }}

    {{ form.markdown('content', label=_('Message'), id='field-content',
                     value=data.content, error=errors.content,
                     placeholder=_('What do you have to tell us?'), is_required=true) }}
{% endblock %}

