{% block footer_content %}
<div class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>Copyright © 2021 Sprout Pilot - The Open Content Agriculture Platform</p>
            </div>
            <div class="col-lg-6 float-right">
                <p>Contacts</p>
                <p>Frequently Asked Questions</p>
                <p>Privacy</p>
                <p>Terms</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}