{% ckan_extends %}

{% block header %}

<header>
  {{ super() }}
</header>

{% endblock -%}

{% block footer %}
<footer>
  <script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
  <script>
    var config = {
      apiKey: '75728cc9879b71c4c08af547159e93a3217a4543',
      product: 'PRO',
      position: 'LEFT',
      theme: 'LIGHT',
      mode: 'GDPR',
      logConsent: true,
      initialState: 'open' 
    };

    CookieControl.load(config);
  </script>
  <div class="container-fluid">
    <div class="row">
      <div class="footer">
        {{ super() }}
      </div>
    </div>
  </div>
</footer>
{% endblock %}