{% ckan_extends %}

{% block header %}

<header>
  {{ super() }}
</header>

{% endblock -%}

{% block footer %}
<footer>
  <script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
  <script>
    var config = {
      apiKey: '0f9dc8150b03c87df7f2f96e24f78d1419ab5150',
      product: 'COMMUNITY',
      position: 'LEFT',
      theme: 'LIGHT',
      mode: 'GDPR',
      logConsent: true,
      initialState: 'open' //pro license
    };

    CookieControl.load(config);
  </script>
  <div class="container-fluid">
    <div class="row">
      <div class="footer">
        {{ super() }}
      </div>
    </div>
  </div>
</footer>
{% endblock %}