{% ckan_extends %}

{% block header %}

<header>
  {{ super() }}
</header>

{% endblock -%}

{% block footer %}
<footer>
  <script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
  <script>
    var config = {
      apiKey: '0f9dc8150b03c87df7f2f96e24f78d1419ab5150',
      product: 'COMMUNITY',
      optionalCookies: [
        {
          name: 'analytics',
          label: 'Analytics',
          description: '',
          cookies: [],
          onAccept: function () { },
          onRevoke: function () { }
        }, {
          name: 'marketing',
          label: 'Marketing',
          description: '',
          cookies: [],
          onAccept: function () { },
          onRevoke: function () { }
        }, {
          name: 'preferences',
          label: 'Preferences',
          description: '',
          cookies: [],
          onAccept: function () { },
          onRevoke: function () { }
        }
      ],

      position: 'LEFT',
      theme: 'LIGHT'
    };

    CookieControl.load(config);
  </script>
  <div class="container-fluid">
    <div class="row">
      <div class="footer">
        {{ super() }}
      </div>
    </div>
  </div>
</footer>
{% endblock %}