<div class="container">
    <div class="row py-5">
        <h2>Get inspired with content stories</h2>
        <hr>
        </hr>
        <div class="col-4">
            <div class="card w-100">
                <img class="card-img-top"
                    src="{{ h.url_for_static('../../public/base/images/AgriFinKE_Sep15_0730.jpg') }}"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">Card title</a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card w-100">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">Card title</a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card w-100">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">Card title</a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>