<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Some data</h2>
            <hr>
            </hr>
            <h3>56</h3>
        </div>
        <div class="col-4">
            <h2>Some data</h2>
            <hr>
            </hr>
            <h3>56</h3>
        </div>
        <div class="col-4">
            <h2>Some data</h2>
            <hr>
            </hr>
            <h3>64</h3>
        </div>
        <div class="col-4">
            <h2>Some data</h2>
            <hr>
            </hr>
            <h3>56</h3>
        </div>
        <div class="col-4">
            <h2>Some data</h2>
            <hr>
            </hr>
            <h3>33</h3>
        </div>
        <div class="col-4">
            <h2>Some data</h2>
            <hr>
            </hr>
            <h3>33</h3>
        </div>
    </div>
</div>