{% block promoted %}

<div class="row">
    <h2>Welcome to Sprout</h2>
    <p>Sprout is the open content agriculture platform where global agriculture experts and farmer facing organizations
        meet to share and discover farmer-friendly,
        digital ready content and services designed to build smallholder skills, resilience and income earning
        opportunities.
        The platform is free of charge.
    </p>
    <p>Sprout has been designed by Mercy Corps AgriFin, developed and hosted by KALRO and funded by GIZ Digital
        Agriculture Africa.</p>
</div>
<div>
    <button type="button" class="btn btn-success">Learn More</button>
</div>


{% endblock %}