{% extends "page.html" %}

{% block subtitle %}{{ _('About Sprout') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{% link_for _('About Sprout'), named_route='home.about' %}</li>
{% endblock %}

{% block primary %}
<div class="container">
    <h1>About Sprout</h1>
    <hr>
    </hr>
    <h2>What is Sprout?
    </h2>
    <p>Sprout is the open content and services platform where global agriculture experts and farmer facing organizations
        meet to share and discover farmer-friendly, digital ready content and services designed to build smallholder
        skills, resilience and income earning opportunities.</p>
    <p>There is a vast pool of valuable agriculture, financial literacy, climate smart agriculture information
        developed by local, regional and global experts that is not easily accessible digitally. It is too slow and
        costly for content users -- individual farmer facing organizations, often digital innovators -- to source, adapt
        and contextualize. By providing a centralized open platform, expert content creators can more easily share their
        knowledge while content users can identify and distribute high quality content at a lower cost more rapidly to
        smallholder farmers at scale.</p>
    <p>Sprout has been designed as a public good by Mercy Corps AgriFin, with funding from GIZ Digital Agriculture
        Africa. The Kenya Agriculture & Livestock Research Organization (KALRO) is the Sprout platform host and a
        significant contributor to service design and content offerings.</p>
    <blockquote>
        <strong>Are you an organization who wants to use content or services for your smallholder farmers?</strong>
        <ul>
            <li>Learn how to search/download content here and understand and comply with content sharing agreements
                here.</li>
            <li> Search, find and download content here.</li>
        </ul>
    </blockquote>
    <blockquote>
        <strong>Are you an expert content creator?</strong>
        <ul>
            <li>Learn how to design, upload, document and share content here.</li>
            <li>Search, find and upload content here</li>
        </ul>
    </blockquote>
        <h2>Why is offering Open Access to Content so important for African Smallholder Farmers?</h2>
        <ul>
            <li><p>Agricultural productivity in Sub-Saharan Africa (SSA) is unable to meet growing demand. Current projections
            point to a two-fold increase in demand for food by 2050 (OECD). SSA boasts 51 million farmers, roughly 25%
            of the total population. With 80% of farms only 2 ha in size, crop yields are not keeping up with growth.
            Environmental shocks/stresses, heightened and highlighted by the disruption driven by COVID-19, coupled with
            traditional smallholder farmer agronomic practices that stay below potential productivity levels.</p></li>
            <li><p>Digital platforms have emerged as a scale pathway offering an environment where agriculture innovators can
            reach large numbers of farmers. However, “last mile” delivery of advice, services and inputs to farmers
            reach only a fraction of farmers and are severely underfunded.</p></li>
            <li><p>There is a vast pool of agriculture content that is relatively unchanging, but is not easily accessible
            digitally. If this content can be hosted and made available in a digital format that is usable by
            smallholder farmers, it can be used to improve productivity, reduce losses, and farm more sustainably, adapt
            to climatic changes, and improve farmer incomes. Sprout provides this capability to organizations to scale
            reach to farmers and other actors in the value chain that they serve.</p></li>
            <li><p>By providing a centralized, open access platform, content developers can offer relevant content and digital
            innovators can use the platform to deliver high quality content at lower cost and faster to smallholders. It
            can be integrated/delivered as a value add to their bundle of services with having to invest resources/time,
            reaching smallholder farmers at scale.</p></li>
        </ul>
        <strong>For more information, please visit our Frequently Asked Questions here. </strong>
</div>
<div class="container">
    {% snippet 'snippets/founding_partners.html' %}
</div>


{% endblock %}

{% block secondary %}{% endblock %}