.btn-primary {
  color: #FFFFFF;
  background-color: @brand-primary;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary.focus {
  border-color: transparent;
  background-color: @brand-quaternary;
}

.btn-success {
  font-weight: @font-weight-400;
}