.footer {
    padding: 4rem 0;
    background: #1d6919;
    color: #FFFFFF;
  }
  
  .site-footer {
    background-color: #1d6919;
    text-decoration: none;
  }
  
  .footer-links:link,
  .footer-links:visited {
    background-color: #1d6919;
    text-align: center;
    display: inline-block;
    text-decoration: none;
  }
  
  .footer-links:hover,
  .footer-links:active {
    color: #1d6919;
    text-decoration: none;
  }
  