.masthead {
    background: #1d6919;
}

@media (min-width: 768px) {
    .homepage .hero {
        min-height: 700px;
        background-image: url("../../../base/images/AgriFin_Reelmedia_Film_Final_Selects_low-res-60.jpg");
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .homepage .module-feeds {
        background: #FFFFFF;
    }
}